/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */
body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.box {
   display: flex;
   width: 670px;
   height: 440px;
   margin: 100px auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   border-radius: 15px;
}

.leva {
    padding: 30px;
    background-image: linear-gradient( #06d7c1, #50cc49);
    color: white;
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;

}

.prava {
    padding: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    width: 50%;
}

.logo {
    margin-bottom: 30px;
}

.moto {
    font-size: 16px;
    font-weight: 500; 
}

.bota {
    position: absolute;
    right: 5px;
    bottom: 1px;
}


.cena,
.zaruka {
   text-align: right;
   m}

.cena {
    font-size: 28px;
    font-weight: 500;
    margin-top: 225px;
}

.zaruka {
    font-size: 12px;
    font-weight: 400;
}

h1 {
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 500;
   margin-top: 0;
   margin-bottom: 10px;   
}

.popis {
    border-bottom: 1px solid #06d7c1;
    padding-bottom: 30px;
 }

.kategorie {
    padding-bottom: 30px;
    color: #959595;
}

.popis p {
    margin: 0;
}

h2 {
    margin-top: 30px;
}

ul {
  padding-left: 0;  
  list-style-type: none;    
}

li {
  display: inline-block;
  margin: 10px;    
}

.vybrana-velikost {
    color: #f15f42;
    border: 2px solid #f15f42;
    border-radius: 50%;
    padding: 3px;
}

.kosik {
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: #f15f42;
    border: 0;
    border-radius: 5px;
}

.kosik a {
    text-transform: uppercase;
    color: white;
    display: block;
    margin: 10px 20px;
    border-radius: 5px;
    text-decoration: none; 
}